{% extends "layout.html" %}
{% block title %}Componentes{% endblock %}

{%block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/op.css')}}">
{%endblock%}


{% block content %}

<div class="placas-container">
    <h1 id="info" class="shadow-lg p-3 mb-5 rounded">Componentes</h1>

    <div class="form-group d-flex justify-content-end">
        <select name="filtros" id="filtros">
            <option value="" disabled selected>Selecione filtro</option>
            <option value="id">Codigo</option>
            <option value="Código">Código</option>
            <option value="Modelo">Modelo</option>
            <option value="Cliente">Cliente</option>
        </select>

        <button type="button" class="fi_button btn mr10">
            <svg width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path
                    d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z">
                </path>
            </svg>
            filtrar
        </button>
    </div>
</div>

<div class="container ">
    <table id="dt_op" class="table table-striped table-responsive-sm table-bordered table-hover">
        <thead>
            <tr>
                <th class="th-sm" scope="col">Item</th>
                <th scope="col">Codigo</th>
                <th scope="col">Tipo</th>
                <th scope="col">Nome</th>
                <th class="fit">Referencia</th>
            </tr>
        </thead>
        <tbody>
            {% for componente in componentes.items %}
            <tr>
                <th scope="row">{{componente.id}}</th>
                <td>{{componente.codigo}}</td>
                <td>{{componente.tipo}}</td>
                <td>{{componente.nome}}</td>
                <td>{{componente.referencia}}</td>
                <td>
                    <a class="" href="{{ url_for('edit_componente', componente=componente.id)}}"><img width="27px"
                            src="{{ url_for('static', filename='images/edit_icon.png')}}"></a>

                    <a href="{{ url_for('delete_componente', componente=componente.id)}}"><img width="27px"
                            src="{{ url_for('static', filename='images/delete_icon.png')}}"></a>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <ul class="pagination">

          
        {% for page in componentes.iter_pages(left_edge=3, right_edge=3) %}
        {% if page %}
         <li class="page-item">
             <a class="page-link" href="{{ url_for('componente', page_num=page) }}">{{ page }}</a>
        </li>

        {% else %}
         <li class="page-item disabled" id="example_ellipsis"><a href="#" class="page-link">…</a></li> 
        {% endif %}
        {% endfor %}

</div>

{% block scripts %}

<script src="{{ url_for('static', filename='js/op.js')}}"></script>

{% endblock %}

{% endblock %}